@model AboutUsViewModel

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>@Model.WelcomeMessage</h6>
                <h2>@Model.AboutUsTitle</h2>
                <span>Home > <a href="aboutus.html">@Model.AboutUsTitle</a></span>
            </div>
        </div>
    </div>

    <div class="categories-collections">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <div class="line-dec"></div>
                                    <h2>Explore the <em>Space</em> from home.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="tabs">
                                <div class="single-tabs tabs-five">
                                    <div class="row no-gutters">
                                        <div class="col-sm-4">
                                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <a class="active" id="v-pills-five-one-tab" data-bs-toggle="pill" href="#v-pills-five-one"
                                                   role="tab" aria-controls="v-pills-five-one" aria-selected="true">
                                                    <i class="lni lni-vector"></i>
                                        @Model.AboutUsTitle
                                                    
                                                </a>
                                                <a id="v-pills-five-two-tab" data-bs-toggle="pill" href="#v-pills-five-two" role="tab"
                                       aria-controls="v-pills-five-two" aria-selected="false"><i class="lni lni-pizza"></i> @Model.ApodTitle</a>
                                                <a id="v-pills-five-three-tab" data-bs-toggle="pill" href="#v-pills-five-three" role="tab"
                                       aria-controls="v-pills-five-three" aria-selected="false"><i class="lni lni-invention"></i> @Model.RegistrationTitle</a>
                                                <a id="v-pills-five-four-tab" data-bs-toggle="pill" href="#v-pills-five-four" role="tab"
                                       aria-controls="v-pills-five-four" aria-selected="false"><i class="lni lni-dashboard"></i> @Model.ExploreTitle</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div class="tab-pane fade show active" id="v-pills-five-one" role="tabpanel"
                                                     aria-labelledby="v-pills-five-one-tab">
                                                    <div class="tab-text">
                                                        <p class="text">
                                                @Model.AboutUsContent 
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-five-two" role="tabpanel"
                                                     aria-labelledby="v-pills-five-two-tab">
                                                    <div class="tab-text">
                                                        <p class="text">
                                                @Model.ApodContent 
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-five-three" role="tabpanel"
                                                     aria-labelledby="v-pills-five-three-tab">
                                                    <div class="tab-text">
                                                        <p class="text">
                                                @Model.RegistrationContent  
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-five-four" role="tabpanel"
                                                     aria-labelledby="v-pills-five-four-tab">
                                                    <div class="tab-text">
                                                        <p class="text">
                                                @Model.ExploreContent  
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <!--====== CALL TO ACTION ONE PART START ======-->
                                    <section class="call-action-area call-action-one">
                                       <div class="container">
                                            <div class="row align-items-center call-action-content">
                                                <div class="col-xl-8 col-lg-8">
                                                    <div class="call-action-text">
                                                        <h2 class="action-title">
                                                @Model.SignUpTitle
                                                        </h2>
                                                        <p class="text-lg">
                                                @Model.SignUpContent 
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4">
                                                    <div class="call-action-btn rounded-buttons text-lg-end">
                                                        <a href="/registration" class="btn primary-btn rounded-full">
                                                            Sign in Now!
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- row -->
                                        </div>
                                        <!-- container -->
                                    </section>
                                    <!--====== CALL TO ACTION ONE PART ENDS ======-->



                                </div>
                                <!-- tabs five -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>










