@using EVA.Models



@model EVA.Models.ApodDetailDto

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <div class="line-dec"></div>
                    <h2>NASA Apod <em>Api</em>.</h2>
                
  

@if (Model != null)
{
                    <div class="apod">
                        <p class="apod"> @Model.Title </p>
                        <p class="apod">@Model.Explanation</p>
                        <img src="@Model.Url" alt="@Model.Title" />

                        <hr />
                    </div>

                    <form method="get" action="/apod">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" value="@Model.Date.ToString("yyyy-MM-dd")" />
                        <button type="submit">Get APOD</button>
                    </form>


}
else
{
                    <p>The server is temporarily unable to service your request. Please try again later.</p>
}

            </div>
        </div>
    </div>
</div>
