@model AstronautsViewModel


<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>@Model.WelcomeMessage</h6>
                <h2>@Model.AstronautsTitle</h2>
                <span>Home > <a href="/austronauts">@Model.AstronautsTitle</a></span>
      </div>
    </div>
  </div>
  <div class="featured-explore">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-features owl-carousel">

            <div class="item">
              <div class="thumb">
                <img src="assets/images/yuri.jpg" alt="pic" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.YuriName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/neil.jpg" alt="pic" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.NailName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/alan.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.AlanName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/valentina.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.ValentinaName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/john.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.JohnName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/james.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.JamesName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/sally.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.SallyName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/chris.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.ChrisName</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
               <div class="thumb">
                 <img src="assets/images/laika.jpg" alt="" style="border-radius: 20px;">
                  <div class="hover-effect">
                     <div class="content">
                                        <h4>@Model.LaikaName</h4>
                      </div>
                  </div>
               </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



     <!-- Services-->
     <section class="page-section1" id="services">
      <div class="container">
          <div class="text-center">
            <h3 class="section-heading text-uppercase">@Model.AstronautsTitle</h3>
            <h3 class="section-subheading text-muted">@Model.BlogText</h3>
          </div>
          <div class="row text-center">
              <div class="col-md-4">

                <h3 class="my-3">@Model.BlogOneTitle</h3>
                <p class="text-muted">@Model.BlogOneContent  </p>
              </div>
              <div class="col-md-4">

                <h3 class="my-3">@Model.BlogTwoTitle</h3>
                <p class="text-muted">@Model.BlogTwoContent</p>
              </div>
              <div class="col-md-4">

                <h3 class="my-3">@Model.BlogThreeTitle</h3>
                <p class="text-muted">@Model.BlogThreeContent </p>
              </div>
          </div>
      </div>
  </section>
  <!-- Portfolio Grid-->
  <section class="page-section bg-light" id="portfolio">
      <div class="container">
          <div class="text-center">
              <h3 class="section-heading text-uppercase">@Model.MeetAstroTitle</h3>
            <h3 class="section-subheading text-muted">@Model.MeetAstroText </h3>
          </div>
          <div class="row">
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 1-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/austro/yuri1.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.YuriName</div>
                          <div class="portfolio-caption-subheading text-muted">@Model.RussianNationality</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 2-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                        <img class="img-fluid" src="assets/images/austro/neil2.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">@Model.NailName</div>
                          <div class="portfolio-caption-subheading text-muted">@Model.AmericanNationality</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 3-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/austro/alan3.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.AlanName</div>
                          <div class="portfolio-caption-subheading text-muted">@Model.AmericanNationality</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                  <!-- Portfolio item 4-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/austro/valentina4.png" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.ValentinaName </div>
                          <div class="portfolio-caption-subheading text-muted">@Model.RussianNationality</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                  <!-- Portfolio item 5-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                        <img class="img-fluid" src="assets/images/austro/john5.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">@Model.JohnName</div>
                          <div class="portfolio-caption-subheading text-muted">@Model.AmericanNationality</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <!-- Portfolio item 6-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                        <img class="img-fluid" src="assets/images/austro/james6.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.JamesName</div>
                          <div class="portfolio-caption-subheading text-muted">@Model.AmericanNationality</div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 7-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal7">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/austro/sally7.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.SallyName</div>
                        <div class="portfolio-caption-subheading text-muted">@Model.AmericanNationality</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 8-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal8">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                        <img class="img-fluid" src="assets/images/austro/chris8.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.ChrisName</div>
                      <div class="portfolio-caption-subheading text-muted">@Model.CanadianNationality</div>
                  </div>
              </div>
          </div>


            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 9-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal9">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/austro/laika9.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.LaikaName</div>
                        <div class="portfolio-caption-subheading text-muted">@Model.SovietNationality</div>
                    </div>
                </div>
            </div>


          </div>
      </div>
  </section>
  <!-- Portfolio Modals-->
  <!-- Portfolio item 1 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                            <h2 class="text-uppercase">@Model.YuriName</h2>
                            <p class="item-intro text-muted ">@Model.YuriText</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/yuri1.jpg" alt="..." />
                            <p class="p1">@Model.YuriContent</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Name:</strong>
                                      @Model.YuriName
                                  </li>
                                  <li>
                                      <strong>Nationality:</strong>
                                    @Model.RussianNationality
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 2 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">@Model.NailName</h2>
                            <p class="item-intro text-muted">@Model.NailText </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/neil2.jpg" alt="..." />
                            <p class="p1">@Model.NailContent </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Name:</strong>
                                     @Model.NailName
                                  </li>
                                  <li>
                                      <strong>Nationality:</strong>
                                      @Model.AmericanNationality
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 3 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">@Model.AlanName</h2>
                            <p class="item-intro text-muted">@Model.AlanText  </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/alan3.jpg" alt="..." />
                            <p class="p1">@Model.AlanContent </p>

                              <ul class="list-inline">
                                  <li>
                                      <strong>Name:</strong>
                                      @Model.AlanName
                                  </li>
                                  <li>
                                      <strong>Nationality:</strong>
                                      @Model.AmericanNationality
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 4 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">@Model.ValentinaName</h2>
                            <p class="item-intro text-muted">@Model.ValentinaText </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/valentina4.png" alt="..." />
                            <p class="p1">@Model.ValentinaContent </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Name:</strong>
                                      @Model.ValentinaName
                                  </li>
                                  <li>
                                      <strong>Nationality:</strong>
                                    @Model.RussianNationality
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 5 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">@Model.JohnName</h2>
                            <p class="item-intro text-muted">@Model.JohnText  </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/john5.jpg" alt="..." />
                            <p class="p1">@Model.JohnContent</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Name:</strong>
                                      @Model.JohnName
                                  </li>
                                  <li>
                                      <strong>Nationality:</strong>
                                      @Model.AmericanNationality
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 6 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">@Model.JamesName</h2>
                            <p class="item-intro text-muted">@Model.JamesText </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/james6.jpg" alt="..." />
                            <p class="p1">
                                @Model.JamesContent </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Name:</strong>
                                    @Model.JamesName
                                  </li>
                                  <li>
                                      <strong>Nationality:</strong>
                                      @Model.AmericanNationality
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

   <!-- Portfolio item 7 modal popup-->
   <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">@Model.SallyName</h2>
                            <p class="item-intro text-muted ">@Model.SallyText </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/sally7.jpg" alt="..." />
                            <p class="p1">@Model.SallyContent </p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Name:</strong>
                                    @Model.SallyName
                                </li>
                                <li>
                                    <strong>Nationality:</strong>
                                    @Model.AmericanNationality
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Portfolio item 8 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project details-->
                        <h2 class="text-uppercase">@Model.ChrisName</h2>
                            <p class="item-intro text-muted">@Model.ChrisText </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/chris8.jpg" alt="..." />
                            <p class="p1">@Model.ChrisContent  </p>
                        <ul class="list-inline">
                            <li>
                                <strong>Name:</strong>
                               @Model.ChrisName
                            </li>
                            <li>
                                <strong>Nationality:</strong>
                                @Model.CanadianNationality
                            </li>
                        </ul>
                        <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                            <i class="fas fa-xmark me-1"></i>
                            @Model.CloseButton
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Portfolio item 9 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">@Model.LaikaName</h2>
                            <p class="item-intro text-muted">@Model.LaikaText </p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/austro/laika9.jpg" alt="..." />
                            <p class="p1">@Model.LaikaContent </p>

                            <ul class="list-inline">
                                <li>
                                    <strong>Name:</strong>
                                    @Model.LaikaName
                                </li>
                                <li>
                                    <strong>Nationality:</strong>
                                    @Model.SovietNationality
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


             
