@model GalaxiesViewModel

<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
                <h6>@Model.WelcomeMessage</h6>
                <h2>@Model.GalaxiesTitle</h2>
                <span>Home > <a href="/galaxies">@Model.GalaxiesTitle</a></span>
      </div>
    </div>
  </div>
  <div class="featured-explore">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-features owl-carousel">

            <div class="item">
              <div class="thumb">
                <img src="assets/images/andromeda.jpg" alt="pic" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.Andromeda</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/antennae.jpg" alt="pic" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.Antennae</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/backward.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.Backward</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/blackeye.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.Blackeye</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/butterfly.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                  <h4>@Model.Butterfly</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/cartweel.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                                        <h4>@Model.Cartwheel</h4>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



     <!-- Services-->
     <section class="page-section1" id="services">
      <div class="container">
          <div class="text-center">
            <h3 class="section-heading text-uppercase">@Model.GalaxiesTitle</h3>
            <h3 class="section-subheading text-muted">@Model.BlogText </h3>
          </div>
          <div class="row text-center">
              <div class="col-md-4">

                <h3 class="my-3">@Model.BlogOneTitle</h3>
                <p class="text-muted">@Model.BlogOneText </p>
              </div>
              <div class="col-md-4">

                <h3 class="my-3">@Model.BlogTwoTitle</h3>
                <p class="text-muted">@Model.BlogTwoText </p>
              </div>
              <div class="col-md-4">

                <h3 class="my-3">@Model.BlogThreeTitle</h3>
                <p class="text-muted">@Model.BlogThreeText </p>
              </div>
          </div>
      </div>
  </section>
  <!-- Portfolio Grid-->
  <section class="page-section bg-light" id="portfolio">
      <div class="container">
          <div class="text-center">
              <h3 class="section-heading text-uppercase">@Model.ExploreGalTitle</h3>
            <h3 class="section-subheading text-muted">@Model.ExploreGalText  </h3>
          </div>
          <div class="row">
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 1-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/andromeda1.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.Andromeda</div>
                        <div class="portfolio-caption-subheading text-muted">@Model.AndromedaPlace</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 2-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/antennae2.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.Antennae</div>
                          <div class="portfolio-caption-subheading text-muted">@Model.AntennaePlace</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 3-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/backward3.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.Backward</div>
                        <div class="portfolio-caption-subheading text-muted">@Model.BackwardPlace</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                  <!-- Portfolio item 4-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/blackeye4.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.Blackeye</div>
                        <div class="portfolio-caption-subheading text-muted">@Model.BlackeyePlace</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                  <!-- Portfolio item 5-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/butterfly5.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">@Model.Butterfly</div>
                          <div class="portfolio-caption-subheading text-muted">@Model.ButterflyPlace</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <!-- Portfolio item 6-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/cartwheel6.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">@Model.Cartwheel</div>
                        <div class="portfolio-caption-subheading text-muted">@Model.CartwheelPlace</div>
                      </div>
                  </div>
              </div>

             

           

          </div>
      </div>
  </section>
  <!-- Portfolio Modals-->
  <!-- Portfolio item 1 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">@Model.Andromeda</h2>
                            <p class="item-intro text-muted ">@Model.AndromedaText</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/andromeda1.jpg" alt="..." />
                            <p class="p1">@Model.AndromedaContent </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      @Model.Andromeda
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                    @Model.AndromedaPlace
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 2 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                            <h2 class="text-uppercase">@Model.Antennae</h2>
                            <p class="item-intro text-muted">@Model.AntennaeText </p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/antennae2.jpg" alt="..." />
                            <p class="p1">@Model.AntennaeContent </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      @Model.Antennae
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                    @Model.AntennaePlace
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 3 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                            <h2 class="text-uppercase">@Model.Backward</h2>
                            <p class="item-intro text-muted">@Model.BackwardText</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/backward3.jpg" alt="..." />
                            <p class="p1">@Model.BackwardContent </p>

                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      @Model.Backward
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                    @Model.BackwardPlace
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 4 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                            <h2 class="text-uppercase">@Model.Blackeye</h2>
                            <p class="item-intro text-muted">@Model.BlackeyeText </p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/blackeye4.jpg" alt="..." />
                            <p class="p1">@Model.BlackeyeContent</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      @Model.Blackeye
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      @Model.BlackeyePlace
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 5 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">@Model.Butterfly</h2>
                            <p class="item-intro text-muted">@Model.ButterflyText </p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/butterfly5.jpg" alt="..." />
                            <p class="p1">@Model.ButterflyContent </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      @Model.Butterfly
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      @Model.ButterflyPlace
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 6 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                            <h2 class="text-uppercase">@Model.Cartwheel</h2>
                            <p class="item-intro text-muted">@Model.CartwheelText </p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/cartwheel6.jpg" alt="..." />
                            <p class="p1">@Model.CartwheelContent </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                    @Model.Cartwheel
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                    @Model.CartwheelPlace
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                @Model.CloseButton
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

   
